.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 209px;
    background-color: black;
    margin: auto;

    &__image {
        padding-top: 66px;
    }

    &__text {
        font-family: $fonts;
        font-weight: 500;
        font-size: 24px;
        color: white;
        vertical-align: bottom;
        margin-bottom: 29px;
    }
}