//header (logo + links)

.header {
    &__bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 100px 0px 100px;

        a {
            text-decoration: none !important;
        }

    }

    &__link {
        &-list {
            display: flex;
            flex-direction: row;
            margin: 0px 0px;
        }

        &-element {
            position: relative;
            font-family: $fonts;
            font-weight: 500;
            font-size: 24px;
            color: $primary-color;
            padding: 2px 0px;
            list-style: none;
            margin-left: 57px;
        }
    }
}

.active ::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 82%;
    left: 0;
    border-bottom: solid 2px $primary-color;
}