//header (logo + links)

.header {
    &__bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 100px 0px 100px;
    }

    &__link {
        &-list {
            display: flex;
            flex-direction: row;
            margin: 0px 0px;
        }

        &-element {
            position: relative;
            font-family: $fonts;
            font-weight: 500;
            font-size: 24px;
            color: $primary-color;
            padding: 2px 0px;
            list-style: none;
            text-decoration: none !important;
            margin-left: 57px;
        }
    }
}

// .nav-active {
//     &::after {
//         content: "";
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         bottom: 0;
//         right: 0;
//         width: 100%;
//         border: 2px solid $primary-color;
//         background: $primary-color;
//         border-radius: 10px;
//     }
// }