.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 63px 100px 0px 100px;


    div {
        position: relative;

        // .background--black {
        //     position: absolute;
        //     margin: auto;
        //     height: 223px;
        //     width: 1240px;
        //     background-color: black;
        //     border-radius: 25px;
        //     opacity: 30%;
        //     mix-blend-mode: darken;
        // }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: black;
            border-radius: 25px;
            opacity: 30%;
            mix-blend-mode: darken;
        }

        img {
            position: relative;
            margin: auto;
            border-radius: 25px;
            opacity: 30%;
            background-blend-mode: darken;


        }

        h1 {
            position: absolute;
            top: 50%;
            translate: 50% -50%;
            margin: auto;
            font-family: $fonts;
            font-weight: 500;
            font-size: 48px;
            color: white;
        }
    }
}