.aPropos {
    &.dropdown {
        display: block;
        max-width: 1023px;
        margin: auto;
        margin-top: 33px;

        &.translate {
            margin-top: 24px;
        }

        .hidden {
            display: none;
        }

        &__box {
            // position: relative;
            // top: 9px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 47px;
            background-color: $primary-color;
            border-radius: 5px;

            &.translate {
                position: relative;
                top: 9px;
            }
        }

        &__title {
            @include fonts500White;
            font-size: 24px;
            padding-left: 18px;
        }

        &__image {
            padding-right: 33px;
        }

        &__details {
            &-box {
                max-width: 1024px;
                border-radius: 5px;
                background-color: $secondary-color;
            }

            &-text {
                @include fonts400Color;
                font-size: 24px;
                padding: 36px 27px 19px 18px;
                margin: 0;
            }
        }
    }
}