.homeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 63px 100px 0px 100px;


    &__background {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: black;
            border-radius: 25px;
            opacity: 30%;
            mix-blend-mode: darken;
        }

        // position: relative;
        // margin: auto;
        // height: 223px;
        // width: 1240px;
        // background-color: black;
        // border-radius: 25px;
        // opacity: 30%;
        // mix-blend-mode: darken;
        // z-index: -1;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     z-index: 0;
        //     left: 0;
        //     right: 0;
        //     top: 0;
        //     bottom: 0;
        //     background-color: black;
        //     border-radius: 25px;
        //     opacity: 30%;
        //     mix-blend-mode: darken;
        // }
    }

    &__img {
        position: relative;
        margin: auto;
        border-radius: 25px;
        opacity: 30%;
        background-blend-mode: darken;
        z-index: 1;

    }

    &__title {
        position: absolute;
        top: 50%;
        translate: 50% -50%;
        margin: auto;
        font-family: $fonts;
        font-weight: 500;
        font-size: 48px;
        color: white;
        z-index: 1;
    }
}