.homeBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 63px 100px 0px 100px;

    &__background {
        position: relative;
        height: 223px;
        width: 1240px;
        border-radius: 25px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: black;
            border-radius: 25px;
            opacity: 30%;
            z-index: 0;
        }
    }

    &__img {
        position: relative;
        margin: auto;
        border-radius: 25px;
    }

    &__title {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        margin: auto;
        @include fonts500White;
        font-size: 48px;
        text-align: center;
        z-index: 1;
    }
}