@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
body {
  margin: auto;
  max-width: 1440px;
  list-style: none;
}

.header__bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0px 100px;
}
.header__bloc a {
  text-decoration: none !important;
}
.header__link-list {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
}
.header__link-element {
  position: relative;
  font-family: Montserrat, arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #FF6060;
  padding: 2px 0px;
  list-style: none;
  margin-left: 57px;
}

.active ::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 82%;
  left: 0;
  border-bottom: solid 2px #FF6060;
}

.homeBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 63px 100px 0px 100px;
}
.homeBanner__background {
  position: relative;
  height: 223px;
  width: 1240px;
  border-radius: 25px;
}
.homeBanner__background::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  border-radius: 25px;
  opacity: 30%;
  z-index: 0;
}
.homeBanner__img {
  position: relative;
  margin: auto;
  border-radius: 25px;
}
.homeBanner__title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  margin: auto;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  z-index: 1;
}

.hostCards__board {
  margin: 43px 100px;
  background-color: #F6F6F6;
  max-width: 100%;
  border-radius: 25px;
}
.hostCards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  list-style: none;
  padding: 56px 50px;
  margin: 0;
}

.hostCard__link {
  max-width: 340px;
  height: 340px;
}
.hostCard__article {
  position: relative;
  max-width: 340px;
  height: 100%;
  border-radius: 10px;
}
.hostCard__article::after {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}
.hostCard__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.hostCard__title {
  position: absolute;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
  vertical-align: bottom;
  line-height: 26px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  margin: 0;
  z-index: 1;
}

.carousel__block {
  margin-top: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  margin-top: 30px;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 500;
}
.details__lodge-title {
  font-weight: inherit;
  font-size: 36px;
  margin: 5px 0px;
}
.details__lodge-subtitle {
  font-size: 18px;
  margin: 0;
}
.details__lodge-tags {
  display: flex;
  margin-top: 23px;
}
.details__owner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.details__owner-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.details__owner-name {
  width: fit-content;
  font-size: 18px;
  margin-right: 10px;
  text-align: end;
}
.details__owner-name p {
  margin: 0;
  padding: 3px;
}
.details__owner-pic {
  display: inline-block;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 1240px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 14px;
}

.carousel {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 1240px;
  height: 415px;
}
.carousel__image {
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.carousel__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 96%;
  left: 50%;
  top: 38%;
  translate: -50% 0%;
}
.carousel__counter {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.details__rating {
  display: flex;
  margin: 24px 3px 0px 0px;
}
.details__ratingStar {
  padding-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 209px;
  background-color: black;
  margin: auto;
}
.footer__image {
  padding-top: 66px;
}
.footer__text {
  font-family: Montserrat, arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  vertical-align: bottom;
  margin-bottom: 29px;
}

ul {
  padding: 0;
}

.component.dropdown {
  display: block;
  max-width: 1023px;
  margin-top: 33px;
}
.component.dropdown.translate {
  margin-top: 24px;
}
.component.dropdown .hidden {
  display: none;
}
.component.dropdown__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  background-color: #FF6060;
  border-radius: 5px;
}
.component.dropdown__box.translate {
  position: relative;
  top: 9px;
}
.component.dropdown__title {
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 24px;
  padding-left: 18px;
}
.component.dropdown__image {
  padding-right: 33px;
}
.component.dropdown__details-box {
  min-height: fit-content;
  height: calc(100% - 33px);
  max-width: 1024px;
  border-radius: 5px;
  background-color: #F6F6F6;
}
.component.dropdown__details-text {
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 400;
  font-size: 24px;
  padding: 36px 27px 19px 18px;
  margin: 0;
}

.error404 {
  text-align: center;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 500;
}
.error404__title {
  font-weight: 700;
  font-size: 288px;
  height: 263px;
  margin: 169px 0 0 0;
}
.error404__subtitle {
  font-size: 36px;
  margin-top: 66px;
}
.error404__link {
  margin-top: 182px;
  margin-bottom: 159px;
  color: #FF6060 !important;
}

.tag {
  height: 25px;
  min-width: 115px;
  width: fit-content;
  border-radius: 10px;
  background-color: #FF6060 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag__name {
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 0 40px;
}

* {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
