.error404 {
    text-align: center;
    @include fonts500Color;

    &__title {
        font-weight: 700;
        font-size: 288px;
        height: 263px;
        margin: 169px 0 0 0;
    }

    &__subtitle {
        font-size: 36px;
        margin-top: 66px;
    }

    &__link {
        margin-top: 182px;
        margin-bottom: 159px;
        color: $primary-color !important;
    }
}